.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.env.*
!.env.dist
*.swp
*.egg-info
dist
build
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage.xml
htmlcov
bruno
tests
*.md
!README.md
