aio-pika==9.4.3
aiormq==6.8.1
alembic==1.13.2
annotated-types==0.7.0
anyio==4.4.0
asyncpg==0.29.0
bcrypt==4.2.0
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
dishka==1.3.0
distlib==0.3.8
dnspython==2.6.1
email-validator==2.2.0
fast-depends==2.4.11
fastapi-cli[standard]==0.0.5
fastapi[all]==0.114.1
faststream[rabbit]==0.5.23
filelock==3.16.0
greenlet==3.1.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
identify==2.6.0
idna==3.8
importlib-metadata==8.5.0
iniconfig==2.0.0
itsdangerous==2.2.0
jinja2==3.1.4
loguru==0.7.2
mako==1.3.5
markdown-it-py==3.0.0
markupsafe==2.1.5
mdurl==0.1.2
multidict==6.1.0
nodeenv==1.9.1
orjson==3.10.7
packaging==24.1
pamqp==3.3.0
platformdirs==4.3.2
pluggy==1.5.0
poetry-core==1.9.0
pre-commit==3.8.0
pycparser==2.22
pycron==3.0.0
pydantic-core==2.23.3
pydantic-extra-types==2.9.0
pydantic-settings==2.5.2
pydantic==2.9.1
pygments==2.18.0
pyjwt==2.9.0
pytest-asyncio==0.24.0
pytest==8.3.3
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.2
pyyaml==6.0.2
redis==5.0.8
rich==13.8.1
shellingham==1.5.4
sniffio==1.3.1
sqlalchemy==2.0.34
sqlmodel==0.0.22
starlette==0.38.5
taskiq-aio-pika==0.4.1
taskiq-dependencies==1.5.3
taskiq-redis==1.0.0
taskiq==0.11.7
typer==0.12.5
types-cffi==1.16.0.20240331
types-pyopenssl==24.1.0.20240722
types-redis==4.6.0.20240903
types-setuptools==74.1.0.20240907
typing-extensions==4.12.2
ujson==5.10.0
uvicorn[standard]==0.30.6
uvloop==0.20.0
virtualenv==20.26.4
watchfiles==0.24.0
websockets==13.0.1
win32-setctime==1.1.0
yarl==1.11.1
zipp==3.20.1
